<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.store.mapper.DistrictMapper">

    <select id="findByParentCode" resultType="com.cy.store.entity.District">
        select * from  t_dict_district where parent=#{parentCode} ORDER BY
            code ASC
    </select>


</mapper>